body{
    background:  rgba(250, 199, 102, 0.44); 
}
.cat{
    margin: 10% 0 0 60%;
    position: fixed;
}
nav{ 
    background: rgb(93, 55, 35);
    font-size: 30px;
    line-height: 195%; 
}
.navbar-nav{
    padding: 1% 5%;
}
.navbar-toggler{
    margin: 0 5%; 
}
.navbar-brand,.navbar-brand img{
    padding: 0% 5%;
}
.home{
    font-size: 25px;
}
footer{
    background: rgb(93, 55, 35);
    padding: 2% 0 2% 0;
    text-align: center;
    line-height: 2.5
}
main{
     padding: 5% 15% 5% 15% ;
}
h1{
     font-size: 70px; 
     font-weight: 900; 
     text-shadow: 5px 5px 4px #8b6545;
     position: fixed; 
     color: #f8f7f4;  
     white-space:pre-wrap;
     margin: 20% 7% 5% 13% ; 
}

h2{
     font-size: 70px; 
     font-weight: 700;
     color: #ffffff;
     text-shadow: 5px 5px 4px #8b6545;
     text-align:center;
     margin: 0 0 5% 0      
}  
h3{
     font-size: 30px; 
     color: #4b2e15;
     font-weight: 600;
     padding: 1% 0 1% 1%;
     border-color: aliceblue;
     border: dotted;
     border-radius: 15px;
  
}
.ig{
    font-size:20px;
    color:aliceblue;
}
a{
    text-decoration: none;
}
p{
  font-size: 23px; 
  color: rgb(101, 49, 22);
  padding: 3% 5% 3% 5%;
  white-space:pre-wrap;
}








