body{
    background:  rgba(250, 199, 102, 0.44); 
    background-image: url(ailurophile.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 40%; 
}

nav{ 
    background: rgb(93, 55, 35);
    font-size: 30px;
    line-height: 195%;
    margin:-0.5em;
    padding:0.5em;
}
.navbar-nav{
    padding: 1% 5%;
}
.navbar-toggler{
    margin: 0 5%; 
}
.navbar-brand{
    padding: 0.3% 5%;
}
.navbar-brand img{
    padding: 0 5%;
}
.home{
    font-size: 25px;
}
header{
    padding: 5% 5% 3% 5% ;
}
main{
     padding: 5% 10% 0 10% ;
}
h1{
     font-size: 70px; 
     font-weight: 900; 
     text-shadow: 5px 5px 4px #8b6545;
     text-align: left; 
     color: #f8f7f4;  
     white-space:pre-wrap;
}

 h2{
     font-size: 50px; 
     font-weight: 700;
     color: #4b2e15;
     padding: 0 5% 3% 0;
}  
h3{
     font-size: 25px; 
     color: #4b2e15;
     font-weight: 600;
    padding: 0 5% 0 0;
}
h4{
    font-size:10px; 
    color: #ffffff;
    padding: 10% 0  0  10%;
}
p{
  font-size: 23px; 
  color: rgb(101, 49, 22);
  padding: 0 5% 0 5%;
  white-space:pre-wrap;
  
}






